$color-red-bg: #FF5650;
$color-white: #FFFFFF;
$color-border-light: #{$color-white}4D;
$color-border-dark: #707070;
$color-blue-clean: #2D5577;
$color-blue-dark: #193145;
$color-blue-medium: #108BA2;
$color-blue-light: #44AFCB;
$color-facebook: #4267B2;
$color-youtube: #C4302B;
$color-linkedin: #0077B5;
$color-overlay: #132839;
$rgba-shadow-heading: rgba(18, 18, 50, 0.12);
$rgba-shadow-slider: rgba(165, 158, 137, 0.43);