* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  @include font-family-title-regular;
}

.icon {
  font-style: normal;
  vertical-align: middle;
}