<div class="header">
    <div class="header-logo">
        <img src="../imgs/avatar.jpg" alt="logo">
    </div>
    <div class="header-title">
        <h1>Titre</h1>
    </div>
    <div class="header-menu">
        <ul class="header-menu--items">
            <li class="header-menu--item">Cours</li>
            <li class="header-menu--item">Agenda</li>
            <li class="header-menu--item">Contact</li>
        </ul>
    </div>
</div>